.header {
  display: flex;
  flex-direction: column;
  top: 34px;
  margin: 0;
  align-self: center;
  justify-content: center;
}

.header__logo {
  width: 254.8373565673828px;
  height: 68.94309997558594px;
  top: 34px;
  left: 513px;
  align-self: center;
  position: absolute;
}

.lead {
  display: flex;
  flex-direction: column;
  width: 984px;
  height: 983px;
  margin-top: 194px;
  margin-left: 148px;
}

.lead__title {
  position: absolute;
  width: 720px;
  height: 200px;
  top: 194px;
  left: 280px;
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.lead__subtitle {
  position: absolute;
  width: 720px;
  height: 72px;
  top: 426px;
  left: 280px;
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.lead__image {
  position: absolute;
  width: 984px;
  height: 615px;
  top: 562px;
  left: 148px;
}
