.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.lead__title {
  font-weight: 900;
  margin: 0 0 32px 0;
  width: 73%;
  line-height: 1;
  font-size: 96px;
  text-align: center;
}

.lead__subtitle {
  margin: 0 0 64px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.lead__image {
  width: 100%;
  filter: grayscale(100%);
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    width: 79.16%;
    font-size: 40px;
    margin: 0 0 16px 0;
    line-height: 0.89;
    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__subtitle {
    width: 90%;
    margin-bottom: 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
}
